/* header ~  */
/* reset.css를 끌고 오고 시작 */
@import url(reset.css);

@font-face {
    font-family: 'nanum_regular';
    src: url(../font/NanumGothic/NanumGothic.otf);

    font-family: 'nanum_bold';
    src: url(../font/NanumGothic/NanumGothicBold.otf);
}


:root {
    --maincolor--: #00458C;
    --subcolor--: #8EB7ED;
    --f_color--: #101E3F;

    --font--: 'nanum_regular';
    --fontBold--: 'nanum_bold';

}

body {
    font-family: var(--font--);
}

header {
    width: 100%;
    height: 50px;
}

header .header_top {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    background-color: var(--maincolor--);
    font-family: var(--fontBold--);
    font-size: 0.8rem;
    z-index: 9999;
}

header .header_top ul {
    display: flex;
    align-items: center;
}

header .header_top ul li {
    margin-right: 4rem;
}

header .header_top ul li:first-child {
    margin-left: 100px;
}



/* main */
.main {
    width: 100%;
    position: relative;
}

.top {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 999999;
}

.top button {
    border-radius: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main .main_v {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    margin-bottom: 250px;
}

.main .video {
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    overflow: hidden;
}

/* .main .video .main_video{
    width: 100%;
    height: 100%;
} */

.main .video video {
    width: 100%;
    object-fit: fill;
}

.main .header_bottom {
    width: 100%;
    color: #fff;
    font-family: var(--fontBold--);
    font-size: 1.125em;
    z-index: 999;
    padding-top: 30px;
    position: sticky;
    top: 0;
}

.main .header_bottom ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.main .header_bottom ul li a:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main .header_bottom ul li:last-child {
    display: none;

}

.main .header_bottom ul li span {
    float: right;
}

.main .header_bottom ul li span:nth-child(2n) {
    display: inline-block;
    content: '';
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.main .header_bottom ul li span:nth-child(2n-1) {
    display: inline-block;
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;

}



.main .video .main_text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main .video .main_text h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 1rem;
}

.main .video .main_text p {
    font-size: 1.87rem;
    font-family: var(--fontBold--);
}

/* //main */

/* mind */

.m_Mind {
    width: 100%;
    padding-left: calc(100% - 1680px);
    margin-bottom: 286px;
    overflow: hidden;
}

.m_Mind .mind_textbox {
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}

.m_Mind .mind_title {
    /* width: 35%; */
    font-size: 2.5em;
    font-family: var(--fontBold--);
}

.m_Mind .mind_title_contents {
    /* width: 65%; */
    font-family: var(--fontBold--);
    font-size: 1.875em;
    line-height: 190%;
}

.m_Mind .swiper {
    width: 100%;
    /* margin-bottom: 286px */
}

.m_Mind .swiper .swiper-wrapper {
    width: 420px;
    max-height: 550px;
}

.m_Mind .swiper .swiper-wrapper .swiper-slide {
    margin-right: 40px;
}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents {
    width: 100%;
    max-height: 180px;
    background-color: var(--maincolor--);
    border-radius: 0 0 20px 20px;
    color: #fff;
}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents .mind_contents_title {
    font-family: var(--fontBold--);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 26px; */

}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents .mind_contents_title h3 {
    font-size: 1.5em;
    margin-top: 13px;
    margin-left: 29px;
}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents .mind_contents_text {
    padding: 26px 0px
}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents .mind_contents_title i {
    font-size: 1.54em;
    margin-top: 13px;
    margin-right: 29px;
}

.m_Mind .swiper .swiper-wrapper .swiper-slide .mind_contents .mind_contents_text p {
    font-size: 1em;
    margin: 13px 29px;
    line-height: 150%;
}

/* swiper */


/* corevalue */
.coreValue {
    max-width: calc(100% - 200px);
    margin: auto;
    margin-bottom: 286px;
}

.coreValue .core_title {
    font-size: 3.5em;
    text-align: center;
    font-family: var(--fontBold--);
    margin-bottom: 100px;
}

.coreValue .core_contents_nanum {
    width: 100%;
    max-height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 28px;
    gap: 28px;
}

.coreValue .core_contents_nanum .nanum {
    grid-column: 1/4;
    grid-row: 1/2;
    height: 500px;
    background-color: var(--maincolor--);
    border-radius: 30px;
    color: #fff;
}

.coreValue .core_contents_nanum .nanum .nanum_textbox {
    max-width: 90%;
    max-height: fit-content;
    padding: 40px;
}

.coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title p {
    font-size: 2.3em;
    line-height: 160%;
    font-family: var(--fontBold--);
    margin-bottom: 31px;
}

.coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_text p {
    font-size: 1.25em;
    line-height: 180%;
}

.coreValue .core_contents_nanum .nanum_cow {
    grid-column: 4/5;
    grid-row: 1/2;
    object-fit: cover;
}

.coreValue .core_contents_nanum .nanum_cow img {
    width: 100%;
    height: 100%;
}

.coreValue .core_contents_nanum .child_baby {
    /* width: 50%; */
    grid-column: 1/3;
    grid-row: 2/2;
}


.coreValue .core_contents_nanum .child_pain {
    grid-column: 3/5;
    grid-row: 2/2;
    position: relative;
}

.coreValue .child_pain .child_pain_textbox {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 40px;
    left: 25px;
    color: #fff;
}

.coreValue .child_pain .child_pain_textbox .child_pain_title p {
    width: 100%;
    font-size: 2.38em;
    font-family: var(--fontBold--);
    margin-bottom: 12px;
}

.coreValue .child_pain .child_pain_textbox .child_pain_text p {
    font-size: 1.25em;
    width: 70%;
    line-height: 190%;
    font-family: var(--font--);
}

.coreValue .nanum_mobile {
    display: none;

}

/* corevalue */

#brand {
    max-width: 1440px;
    padding: 0 20px;
    /* height: 96.6vh; */
    margin: auto;
    margin-bottom: 286px
}

#brand .brand_title {
    width: 100%;
    margin-bottom: 100px;
}

#brand .brand_title .brand_title_1 {
    font-size: 3.5em;
    font-family: var(--fontBold--);
    margin-bottom: 32px;
}

#brand .brand_title .brand_title_2 {
    font-size: 1.5em;
    font-family: var(--fontBold--);

}

#brand .brand_slide {
    max-width: 1400px;
    max-height: 772px;
    overflow: hidden;
    display: flex;
}

#brand .brand_slide .fix {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#brand .brand_slide .fix_i {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin-right: 28PX; */
}

#brand .brand_slide .fix_i img{
    max-width: unset;
}

#brand .brand_slide .scroll {
    width: 20%;
    overflow-y: scroll;
    position: sticky;
}

.scroll::-webkit-scrollbar {
    width:0px;
  }

  .content {
    width: 100%;
    height: 20vh;
    margin-bottom: 50px;
    position: sticky;
  }

#brand .brand_slide .slider img {
    max-width: none;
    /* width: 100%; */
    height: 100%;
}

#brand .scroll .brand_textbox_title h2 {
    font-size: 1.5em;
    margin-bottom: 32px;
}

#brand .scroll .brand_contents p {
    font-size: 1em;
    line-height: 150%;
}

#brand .scroll .content {
    margin-bottom: 100px;
}

.product {
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 286px
}

.product .product_title {
    width: 100%;
    margin-bottom: 100px;
}

.product .product_title .product_title_1 {
    font-size: 3.5em;
    font-family: var(--fontBold--);
    margin-bottom: 32px;
}

.product .product_title .product_title_2 {
    font-size: 1.5em;
    font-family: var(--fontBold--);
}

.product .product_contents {
    width: 100%;
}

.product .product_contents_box {
    max-width: 448px;
    /* max-width: fitntent; */
}

.product .product_contents_img {
    margin-bottom: 24px;
}


.product .product_t {
    max-width: 85%;
    margin-right: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 100px;

}

.product .product_b {
    max-width: 85%;
    margin-left: auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.product .product_contents_box {
    min-width: 300px;
}

.product .product_contents_text p {
    line-height: 160%;
    font-size: 1em;
}

.product .product_contents_text span:first-child {
    font-family: var(--fontBold--);
}

.product .product_contents_text span:nth-child(2) {
    font-size: 12px;
    color: #777;
}

.product .product_bottom {
    width: 100%;
    height: 0%;
    /* width: 1162px;
    height: 584px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

/* //product */

.global {
    width: 100%;
    background-color: #000;
}

.global_title {
    width: 100%;
    height: 482px;
    text-align: center;
    font-family: var(--fontBold--);
    color: #fff;
    background-color: #000;
}

.global .global_title .global_t {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.global .global_title h2 {
    line-height: 160%;
    font-size: 2.5em;
}

.global .global_img {
    width: 100%;
}

.global .global_img_main {
    width: 100%;
    position: relative;
}

.global .global_img_main .global_img_circle .usa {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -65%);
}

.global .global_img_main .global_img_circle .asia {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-60%, -20%);
}

.global .global_img_main .global_img_circle .other_1 {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translate(-85%, -25%);
}

.global .global_img_main .global_img_circle .other_2 {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-80%, -45%);
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 637px;
    background-color: var(--f_color--);
    color: #fff;
}


footer .f_contents {
    width: calc(100% - 200px);
    height: 100%;
    margin: auto;
    padding-top: 73px;
}

footer .contact {
    width: 100%;
    height: 30%;
    margin-bottom: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contact .company {
    font-family: var(--fontBold--);
}


footer .contact .company p {
    font-size: 1.875em;
    margin-bottom: 12px;
}

footer .contact .company p:last-child {
    font-size: 1.125em;
    line-height: 150%;
}


footer .contact .sns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .contact .sns i {
    font-size: 38px;
    margin-right: 28px;
}

footer .information {
    font-family: var(--font--);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .information .info p {
    font-size: 1em;
}

footer .information .info .info_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .information .info .info_mid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .information .info .info_mid .address {
    margin-right: 32px;
}

footer .information .familysite select {
    width: 209px;
    height: 52px;
    background-color: #ffff;
    font-family: var(--fontBold--);
    color: var(--maincolor--);
    border-radius: 10px;
    text-align: center;
    appearance: none;

}

.submenu {
    background-color: var(--maincolor--);
    width: 100%;
    padding: 80px 30px;
    margin: auto;
    height: 100vh;
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999999;
}

.submenu .sub_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.submenu .sub_m li:nth-child(2) {
    margin: 40px 0;
}

.submenu .sub_m li:nth-child(4) {
    margin-top: 40px;
}

.submenu .sub_m li h2 {
    font-size: 2em;
    font-family: var(--fontBold--);
}

@media screen and (max-width : 1400px) {
    .coreValue .core_contents_nanum .nanum{
        height: fit-content;
    }

    #brand .scroll .content {
        margin-bottom: 90px;
    }
    
}

@media screen and (max-width : 1280px) {
    /* 노트북 */

    .main .video video {
        width: auto;
        height: 100vh;
    }

    .main .video .main_text h2 {
        font-size: 3.7rem;
    }

    /* .main .m_Mind{
        padding-left: cal;
    } */

    .m_Mind .mind_title_contents {
        font-size: 1.6rem;
    }

    .main .mind_title {
        margin-right: 60px;
    }

    .main .coreValue .core_title {
        font-size: 3rem;
    }

    /* .main .coreValue .core_contents_nanum .nanum{
        width: 70%;
    } */

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox {
        margin: 0;
        padding: 30px;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title p {
        font-size: 1.8rem;
        line-height: 170%;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_text br {
        display: none;
    }

    .main .coreValue .core_content_child .child_pain .child_pain_textbox {
        max-width: 90%;
    }

    .main .coreValue .core_content_child .child_pain .child_pain_textbox .child_pain_title p {
        font-size: 1.8rem;
    }

    .coreValue .core_content_child .child_pain .child_pain_textbox .child_pain_text p {
        width: 100%;
        font-size: 1.2rem;
    }

    #brand .brand_title .brand_title_1 {
        font-size: 3rem;
    }

    /* brand slide */

    /* brand slide */

    .product .product_title .product_title_1 {
        font-size: 3rem;
    }

    .global .global_title h2 {
        font-size: 2rem;
    }

}


@media screen and (max-width : 1220px) {

    
    .coreValue .child_pain .child_pain_textbox .child_pain_title p {
        font-size: 1.8em;
    }

    .coreValue .child_pain .child_pain_textbox .child_pain_text p {
        font-size: 1em;
    }

    .content {
        width: 100%;
        height: 20vh;
        margin-bottom: 80px;
        position: sticky;
      }
}

@media screen and (max-width : 1200px) {
    /* 노트북 큰 태블릿 */

    .header_bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .main .header_bottom ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }

    .main .header_bottom ul li {
        display: none;
    }

    .main .header_bottom ul .logo {
        display: block;
    }

    .main .header_bottom ul li:last-child {
        display: block;

    }

    .main .video .main_text h2 {
        font-size: 3.4rem;
    }

    .main .mind_title {
        font-size: 2em;
        margin-right: 0;
    }

    .m_Mind .mind_title_contents {
        font-size: 1.5rem;
    }

    .main .m_Mind {
        /* padding-left: 100px; */
        margin-bottom: 200px;
    }

    .m_Mind .swiper .swiper-wrapper {
        width: 350px;
        max-height: fit-content;
    }

    .main .coreValue {
        margin-bottom: 200px;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title p {
        font-size: 1.7rem;
    }

    .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_text p {
        font-size: 1.2rem;
    }

    .main #brand {
        margin-bottom: 200px;
    }

    .main .product {
        margin-bottom: 200px;
    }

    .product .product_t {
        max-width: 90%;
        margin: auto;
        margin-bottom: 100px;
    }

    .product .product_b {
        max-width: 90%;
        margin: auto;
    }

    .global .global_img_main .global_img_circle .usa {
        max-width: 95px;
    }

    .global .global_img_main .global_img_circle .aisa {
        max-width: 85px;
    }

}

@media screen and (max-width : 1024px) {
    .m_Mind .swiper .swiper-wrapper .swiper-slide .mind_img img {
        width: 100%;
    }

}

@media screen and (max-width : 991px) {

    /* 태블릿 */
    .main .video {
        margin-bottom: 200px;
    }

    .main .video .main_text h2 {
        font-size: 2.6em;
    }

    .main .video .main_text p {
        font-size: 1.8em;
        line-height: 160%;
    }

    .m_Mind .mind_textbox {
        display: flex;
        flex-direction: column;
    }

    .m_Mind .mind_textbox .mind_title {
        max-width: fit-content;
        margin: auto;
        margin-bottom: 50px;
    }

    .m_Mind .mind_textbox .mind_title_contents {
        max-width: fit-content;
        margin: auto;
        text-align: center;
    }

    .coreValue {
        max-width: calc(100% - 40px)
    }

    .coreValue .core_contents_nanum {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, minmax(100px, auto));
        /* gap: 28px; */
    }

    .coreValue .core_contents_nanum .nanum {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .coreValue .core_contents_nanum .nanum .nanum_textbox {
        max-width: 100%;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title p {
        font-size: 1.5em;
    }

    .coreValue .core_contents_nanum .nanum_cow {
        grid-column: 1/3;
        grid-row: 2/3;
        height: 450px;
    }

    .coreValue .core_contents_nanum .child_baby {
        grid-column: 3/5;
        grid-row: 2/3;
        height: 450px;
    }

    .coreValue .core_contents_nanum .child_baby img {
        width: 100%;
        height: 100%;
    }

    .coreValue .core_contents_nanum .child_pain {
        grid-column: 1/5;
        grid-row: 3/3;
    }

    .coreValue .core_contents_nanum .child_pain img {
        width: 100%;
    }

    .main #brand {
        padding: 0 24px;
    }

    #brand .brand_title {
        text-align: center;
    }

    #brand .brand_title .brand_title_1 {
        font-size: 2.5em;
    }

    #brand .brand_title .brand_title_2 {
        font-size: 1.3em;
    }

    #brand .brand_slide {
        display: flex;
        flex-direction: column;
    }

    #brand .brand_slide .fix {
        width: 100%;
        max-width: 100%;
        max-height: 500px;
    }

    #brand .brand_slide .scroll {
        display: flex;
        width: 100%;
        margin-top: 150px;
        position: inherit;
        overflow-y: inherit;
        flex-wrap: wrap;
    }

    #brand .brand_slide .scroll .content br{
        display: none;
    }

    #brand .brand_slide .scroll .content {
        flex-shrink: 0;
        max-width: fit-content;
        height: fit-content;
        margin-right: 60px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    #brand .brand_slide .scroll .content p{
        display: none;
    }

    .product .product_title {
        text-align: center;
    }

    .product .product_title .product_title_1 {
        font-size: 2.5em;
    }

    .product .product_title .product_title_2 {
        font-size: 1.3em;
    }

    .product .product_t {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        max-width: 100%;
    }

    .product .product_t .icecream {
        grid-column: 1/2;
    }

    .product .product_t .cake {
        grid-column: 2/3;
    }

    .product .product_b {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
        max-width: 100%;
    }

    .product .product_b .amazing {
        grid-column: 1/2;
    }

    .product .product_b .yogurt {
        grid-column: 2/3;
    }

    .global_title {
        height: 350px;
    }

    .global .global_title .global_t {
        font-size: 1.8rem;
    }

    .global .global_img_main .global_img_circle .usa {
        width: 70px;
    }

    .global .global_img_main .global_img_circle .asia {
        width: 60px;
    }

    .global .global_img_main .global_img_circle .other_1 {
        width: 35px;
    }

    .global .global_img_main .global_img_circle .other_2 {
        width: 40px;
    }

    footer {
        padding: 0 24px;
    }

    footer .f_contents {
        width: 100%;
    }

    footer .information {
        width: 100%;
        text-align: center;
    }

    footer .information .info {
        width: 100%;
    }

    footer .information .familysite select {
        display: none;
    }

}

@media screen and (max-width : 767px) {
    /* 작은 태블릿 */

    .main .video .main_text h2 {
        font-size: 2em;
    }

    .main .video .main_text p {
        font-size: 1.1em;
    }

    .m_Mind .mind_title_contents {
        font-size: 1.3em;
    }

    .main .coreValue .core_title {
        font-size: 2em;
    }

    .coreValue .core_contents_nanum .nanum {
        height: 400px;
    }

    .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_text p {
        font-size: 1em;
    }

    .coreValue .core_contents_nanum .nanum_cow {
        height: 250px;
    }

    .coreValue .core_contents_nanum .child_baby {
        height: 250px;
    }

    .coreValue .child_pain .child_pain_textbox .child_pain_title p {
        font-size: 1.5em;
    }

    #brand .slider .brand_textbox_title h2 {
        font-size: 1.5em;
        margin-bottom: 24px;
    }

    .global .global_title .global_t {
        font-size: 1.5rem;
    }

    .top button img {
        width: 50px;
    }
}

@media screen and (max-width : 630px) {



    .main .header_bottom ul .logo img {
        width: 90px;
    }

    .main .header_bottom ul .ham img {
        height: 35px;
    }

    .main .video .main_text h2 {
        font-size: 1.5em;
        line-height: 190%;
    }

    .main .video .main_text p {
        font-size: 0.9em;
        line-height: 150%;
    }

    .coreValue {
        max-width: calc(100% - 40px);
    }

    .product .product_t {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
    }

    .product .product_b {
        display: flex;
        flex-direction: column;
    }

    .submenu .sub_title a img {
        width: 90px;
    }

    .submenu .sub_m li h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width : 575px) {
    /* 큰 모바일 */

    header .header_top {
        display: none;
    }

    .main .main_v {
        top: -50px;
    }

    .main .m_Mind {
        padding: 0 10px;
    }

    .m_Mind .mind_textbox {
        margin-bottom: 50px;
    }

    .m_Mind .mind_textbox .mind_title_contents {
        font-size: 1.2em;
    }

    .m_Mind .mind_textbox .mind_title_contents br {
        display: none;
    }

    .coreValue .core_contents_nanum .nanum {
        height: 300px;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title p {
        font-size: 1.1em;
    }

    .main .coreValue .core_title {
        margin-bottom: 50px;
    }

    .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_text p {
        font-size: 0.8em;
    }

    .coreValue .core_contents_nanum .nanum_cow {
        height: 200px;
    }

    .coreValue .core_contents_nanum .child_baby {
        height: 200px;
    }

    .coreValue .child_pain .child_pain_textbox .child_pain_text p {
        font-size: 0.8em;
    }

    .main #brand {
        margin-bottom: 100px;
    }

    #brand .brand_title {
        margin-bottom: 50px;
    }

    #brand .brand_title .brand_title_1 {
        font-size: 1.5em;
    }

    #brand .brand_title .brand_title_2 {
        font-size: 1em;
    }

    #brand .slider .brand_contents p {
        font-size: 0.8em;
    }

    .product .product_title {
        margin-bottom: 50px;
    }

    .product .product_title .product_title_1 {
        font-size: 1.5em;
    }

    .product .product_title .product_title_2 {
        font-size: 1em;
    }

    .product .product_contents_text p {
        font-size: 0.8em;
    }

    .global .global_title {
        padding: 0 24px;
    }

    .global .global_title .global_t {
        font-size: 1em;
        line-height: 180%;
    }

    .global .global_img_main .global_img_circle .usa {
        width: 50px;
    }

    .global .global_img_main .global_img_circle .asia {
        width: 40px;
    }

    footer .f_contents {
        width: 100%;
    }

    footer .information .info p {
        font-size: 0.8em;
    }

    footer .contact .company {
        width: 100%;
        text-align: center;
    }

    footer .contact .company p {
        margin-bottom: 28px;
    }

    footer .contact .sns {
        display: none;
    }


}

@media screen and (max-width : 400px) {
    /* 모바일 */

    .m_Mind .mind_textbox .mind_title_contents {
        font-size: 1em;
    }

    .main .coreValue .core_contents_nanum .nanum .nanum_textbox .nanum_title br {
        display: none;
    }

    #brand .brand_title .brand_title_1 {
        font-size: 2em;
    }

    .product .product_title .product_title_1 {
        font-size: 2em;
    }

    .global_title {
        height: 250px;
    }

    /* .global .global_title .global_t {
        font-size: 1.2em;
        line-height: 180%;
    } */

    .global .global_title .global_t br {
        display: none;
    }

    .information .info .info_mid {
        flex-direction: column;
    }

    .information .info .info_mid .address {
        margin-bottom: 30px;
    }
}

@media screen and (max-height : 400px) {
    /* 모바일 가로 버전 */
}