@import url(reset.css);

@font-face {
    font-family: 'nanum_regular';
    src: url(../font/NanumGothic/NanumGothic.otf);

    font-family: 'nanum_bold';
    src: url(../font/NanumGothic/NanumGothicBold.otf);
}

:root {
    --maincolor--: #00458C;
    --subcolor--: #8EB7ED;
    --f_color--: #101E3F;

    --font--: 'nanum_regular';
    --fontBold--: 'nanum_bold';

}

body {
    font-family: var(--font--);
}

header {
    width: 100%;
    height: 50px;
}

header .header_top {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    background-color: var(--maincolor--);
    font-family: var(--fontBold--);
    font-size: 0.8rem;
    z-index: 9999;
}

header .header_top ul {
    display: flex;
    align-items: center;
}

header .header_top ul li {
    margin-right: 4rem;
}

header .header_top ul li:first-child {
    margin-left: 100px;
}

.main {
    width: 100%;
    position: relative;
}

.top {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 999999;
}

.top button {
    border-radius: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main_b {
    width: 100%;
    max-height: 700px;
    margin-bottom: 100px;
}

.main_b {
    width: 100%;
    height: 700px;
    position: relative;
    top: 0;
    margin-bottom: 250px;
}

.main_b .banner {
    width: 100%;
    height: 100%;
    position: relative;
    top: -95px;
}

.main_b .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_b .header_bottom {
    width: 100%;
    color: #fff;
    font-family: var(--fontBold--);
    font-size: 1.125em;
    z-index: 999;
    padding-top: 30px;
    position: sticky;
    top: 0;
}

.main_b .header_bottom ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.main_b .header_bottom ul li a:last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main_b .header_bottom ul li:last-child {
    display: none;

}

.main .product_title {
    text-align: center;
    margin-bottom: 38px;
}

.main .product_btn {
    max-width: 1200px;
    max-height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.main .product_btn .btn_category {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main .product_btn .btn_category .category_title {
    width: fit-content;
}



.slider {
    width: 50%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    pointer-events: none;
    align-items: center;
    gap: 28px;
}

.slider-item {
    text-align: center;
    border-radius: 30px;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--maincolor--);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider-item p{
    color: #fff;
    font-family: var(--fontBold--);    
}


.main .product_btn .category_list .category_sub{
    display: none;
}

.main .product_list {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;

}

.main .product_list .product {
    margin-right: 28px;
    margin-bottom: 180px;
}

.main .product_list .p4 {
    margin-right: 0;
}

.main .product_list .product {
    display: flex;
    flex-direction: column;
}

.main .product_list .product .p_img {
    margin-bottom: 20px;
}

.main .product_list .product .p_T {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.main .product_list .product .p_T h3 {
    margin-bottom: 24px;
}

.main .product_list .product .p_T i {
    color: var(--maincolor--);
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 637px;
    background-color: var(--f_color--);
    color: #fff;
    margin-top: 400px;
}


footer .f_contents {
    width: calc(100% - 200px);
    height: 100%;
    margin: auto;
    padding-top: 73px;
}

footer .contact {
    width: 100%;
    height: 30%;
    margin-bottom: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contact .company {
    font-family: var(--fontBold--);
}


footer .contact .company p {
    font-size: 1.875em;
    margin-bottom: 12px;
}

footer .contact .company p:last-child {
    font-size: 1.125em;
    line-height: 150%;
}


footer .contact .sns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .contact .sns i {
    font-size: 38px;
    margin-right: 28px;
}

footer .information {
    font-family: var(--font--);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .information .info p {
    font-size: 1em;
}

footer .information .info .info_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .information .info .info_mid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .information .info .info_mid .address {
    margin-right: 32px;
}

footer .information .familysite select {
    width: 209px;
    height: 52px;
    background-color: #ffff;
    font-family: var(--fontBold--);
    color: var(--maincolor--);
    border-radius: 10px;
    text-align: center;
    appearance: none;

}

.submenu {
    background-color: var(--maincolor--);
    width: 100%;
    padding: 80px 30px;
    margin: auto;
    height: 100vh;
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999999;
}

.submenu .sub_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.submenu .sub_m li:nth-child(2) {
    margin: 40px 0;
}

.submenu .sub_m li:nth-child(4) {
    margin-top: 40px;
}

.submenu .sub_m li h2 {
    font-size: 2em;
    font-family: var(--fontBold--);
}

@media screen and (max-width : 1440px) {
    .main .product_list {
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
    }

    .main .product_list .p4 {
        margin-right: 28px;
    }

}


@media screen and (max-width : 1200px) {
    /* 노트북 큰 태블릿 */

    .main_b .header_bottom ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        position: relative;
        top: 0;
    }

    .header_bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .main_b {
        position: relative;
        top: -50px;
    }

    .main_b .header_bottom ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }

    .main_b .header_bottom ul li {
        display: none;
    }

    .main_b .header_bottom ul .logo {
        display: block;
    }

    .main_b .header_bottom ul li:last-child {
        display: block;

    }


}

@media screen and (max-width : 1024px) {
    .main .product_btn .btn_category{
        display: flex;
        flex-direction: column;
    }

    .slider{
        width: 80%;
    }
    
    .slider-inner{
        gap: 14px;
    }
}

@media screen and (max-width: 1000px ) {

    
}

@media screen and (max-width : 991px) {

    /* 태블릿 */

    .main .product_btn .btn_category{
        height: 300px;
    }

    .main .product_btn .btn_category nav .category_list{
        max-width: 575px;
        overflow-y: scroll;
        position: sticky;
        margin: auto;
    }

    /* .main .product_btn .btn_category nav .category_list::-webkit-scrollbar {
        width:0px;
      } */

      .slider-item p{
        font-size: 0.9rem;
      }

    footer {
        padding: 0 24px;
    }

    footer .f_contents {
        width: 100%;
    }

    footer .information {
        width: 100%;
        text-align: center;
    }

    footer .information .info {
        width: 100%;
    }

    footer .information .familysite select {
        display: none;
    }

}

@media screen and (max-width : 767px) {
    /* 작은 태블릿 */

    
    .slider{
        width: calc(100% - 20px);
    }

    .top {
        right: 16px;
    }

    .top button img {
        width: 50px;
    }
}

@media screen and (max-width : 630px) {

    
    .main .header_bottom ul .logo img {
        width: 90px;
    }

    .main .header_bottom ul .ham img {
        height: 30px;
    }
    
    .main .product_list .product{
        margin: auto;
        margin-bottom: 180px;
    }

    .main_b .header_bottom ul .logo img {
        width: 90px;
    }

    .main_b .header_bottom ul .ham img {
        height: 35px;
    }


    .submenu .sub_title a img {
        width: 90px;
    }

    .submenu .sub_m li h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width : 575px) {
    /* 큰 모바일 */

    header .header_top {
        display: none;
    }

    .main_b{
        margin-bottom: 0px;
    }

    footer .f_contents {
        width: 100%;
    }

    footer .information .info p {
        font-size: 0.8em;
    }

    footer .contact .company {
        width: 100%;
        text-align: center;
    }

    footer .contact .company p {
        margin-bottom: 28px;
    }

    footer .contact .sns {
        display: none;
    }


}

@media screen and (max-width : 400px) {
    /* 모바일 */
    .slider-item p{
        font-size: 0.7rem;
    }

}

@media screen and (max-height : 400px) {
    /* 모바일 가로 버전 */
}